.cart-btn{
  display: flex;
  justify-content: center;
  color: red;
  margin: 35px;
  font-size: 30px;

}
img {
  width: 47px;
}
.incr-input{
  width: 60px;
}
.shoping-cart{
display: flex;
flex-direction: row;
justify-content: center;
margin: 26px;
color: red;
}